*{
  margin: 5px;
  box-sizing: border-box;
}

body {
  height: 95vh;
  font-family: sans-serif;
  text-align: center;
  color: black;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

.container {
  background-color: burlywood;
  position: relative;
  width: 1100px;
  display: flex;
  justify-content:first baseline;
  padding: 30px;
  margin-top: 1%;
}

.container1{
  background-color: lightskyblue;
  position: relative;
  width: 1100px;
  display: flex;
  justify-content:first baseline;
  padding: 30px;
  margin-top: 1%;
}

.container2{
  background-color: lightskyblue;
  position: relative;
  width: 1100px;
  display: flex;
  justify-content:first baseline;
  padding: 30px;
  margin-top: 1%;
}

.container2 {
  width: 1100px;
  height: 1100px;
}


#map{
  width: 100px;
  height: 500px;
  min-height: 100%;
  min-width: 100%;
  display: block;
},
body,
html {
  height: 100%;
}