<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mortgage Analysis</title>

  <!-- D3 library -->
  <script src="https://d3js.org/d3.v7.min.js"></script>

  <!-- MomentJS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

  <!-- Icons -->
  <link rel="stylesheet" href="static/css/leaflet.extra-markers.min.css">

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>

  <!-- The div that holds our map -->
  <div id="chart"></div>

  <!-- Our JavaScript file -->
  <script type="text/javascript" src="static/js/logic.js"></script>
  <script type="text/javascript" src="Resources/Average House Pricing Q1 1973 - Q1 2023 (all regions).csv"></script>
  <script type="text/javascript" src="Resources/Mean Family income 1973 - EOD 2023.csv"></script>
  <script type="text/javascript" src="Resources/MORTGAGE30US.csv"></script>

</body>

</html>